<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graad 4</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        button.btn.btn-link.btn-link-custom {
            color: grey;
            text-decoration: none;
        }

        button.btn.btn-link.btn-link-custom:hover {
            color: black;
            text-decoration: none;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">
    
    <div class="container my-5">
        <h2 class="pb-2 border-bottom">Graad 4</h2>
        <div class="row">
            <!-- Example for one subject -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/grade4subjects/gr4nw1_lewend.jpg" class="card-img-top" alt="Natuurwetenskap">
                    <div class="card-body">
                        <h5 class="card-title">Lewende dinge</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('flashcard.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Lewende dinge', 'Flitskaarte', './static/data/Gr4/gr4nw1_flitskaarte.json')">
                                    Flitskaarte
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('multiple.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Lewende dinge', 'Meerkeusevrae', './static/data/Gr4/gr4nw1_meerkeuse_vrae.json')">
                                    Keuse Vrae
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('invulVrae.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Lewende dinge', 'Invul vrae', './static/data/Gr4/gr4nw1_invul_vrae.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Invul vrae</button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('skryfToets.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Lewende dinge', 'Skryf', './static/data/Gr4/gr4nw1_skryf_toets.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Skryf toets</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Example for one subject -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/grade4subjects/gr4nw1_nogDinge.jpg" class="card-img-top" alt="Natuurwetenskap">
                    <div class="card-body">
                        <h5 class="card-title">Nog dinge</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('flashcard.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Nog dinge', 'Flitskaarte', './static/data/Gr4/gr4nw1_flitskaarte.json')">
                                    Flitskaarte
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('multiple.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Nog dinge', 'Meerkeusevrae', './static/data/Gr4/gr4nw1_meerkeuse_vrae.json')">
                                    Keuse Vrae
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('invulVrae.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Nog dinge', 'Invul vrae', './static/data/Gr4/gr4nw1_invul_vrae.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Invul vrae</button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('skryfToets.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Nog dinge', 'Skryf', './static/data/Gr4/gr4nw1_skryf_toets.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Skryf toets</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

             <!-- Example for one subject -->
             <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/grade4subjects/gr4nw1_plante.jpg" class="card-img-top" alt="Natuurwetenskap">
                    <div class="card-body">
                        <h5 class="card-title">Plante</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('flashcard.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Plante', 'Flitskaarte', './static/data/Gr4/gr4nw1_flitskaarte.json')">
                                    Flitskaarte
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                type="button" 
                                class="btn btn-link btn-link-custom p-0" 
                                onclick="redirectToPage('multiple.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Plante',  'Meerkeusevrae', './static/data/Gr4/gr4nw1_meerkeuse_vrae.json')">
                                Keuse Vrae
                            </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('invulVrae.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Plante', 'Invul vrae', './static/data/Gr4/gr4nw1_invul_vrae.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Invul vrae</button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('skryfToets.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Plante', 'Skryf', './static/data/Gr4/gr4nw1_skryf_toets.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Skryf toets</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Add similar blocks for other subjects with the same structure -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/grade4subjects/gr4nw1_diere.jpg" class="card-img-top" alt="Natuurwetenskap">
                    <div class="card-body">
                        <h5 class="card-title">Diere</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('flashcard.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Diere','Flitskaarte', './static/data/Gr4/gr4nw1_flitskaarte.json')">
                                    Flitskaarte
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('multiple.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Diere',  'Meerkeusevrae', './static/data/Gr4/gr4nw1_meerkeuse_vrae.json')">
                                    Keuse Vrae
                                </button>
                            </li>   
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('invulVrae.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Diere', 'Invul vrae', './static/data/Gr4/gr4nw1_invul_vrae.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Invul vrae</button>
                            </li>    
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('skryfToets.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Diere', 'Skryf', './static/data/Gr4/gr4nw1_skryf_toets.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Skryf toets</button>
                            </li>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
             <!-- Add similar blocks for other subjects with the same structure -->
             <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/grade4subjects/gr4nw1_groei.jpg" class="card-img-top" alt="Natuurwetenskap">
                    <div class="card-body">
                        <h5 class="card-title">Groei</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('flashcard.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Groei', 'Flitskaarte', './static/data/Gr4/gr4nw1_flitskaarte.json')">
                                    Flitskaarte
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('multiple.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Groei',  'Meerkeusevrae', './static/data/Gr4/gr4nw1_meerkeuse_vrae.json')">
                                    Keuse Vrae
                                </button>
                            </li>  
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('invulVrae.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Groei', 'Invul vrae', './static/data/Gr4/gr4nw1_invul_vrae.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Invul vrae</button>
                            </li>       
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('skryfToets.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Groei', 'Skryf', './static/data/Gr4/gr4nw1_skryf_toets.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Skryf toets</button>
                            </li>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- Add similar blocks for other subjects with the same structure -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/grade4subjects/gr4nw1_habitat.jpg" class="card-img-top" alt="Natuurwetenskap">
                    <div class="card-body">
                        <h5 class="card-title">Habitatte van diere</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('flashcard.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Habitat', 'Flitskaarte', './static/data/Gr4/gr4nw1_flitskaarte.json')">
                                    Flitskaarte
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('multiple.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Habitat',  'Meerkeusevrae', './static/data/Gr4/gr4nw1_meerkeuse_vrae.json')">
                                    Keuse Vrae
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('invulVrae.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Habitat', 'Invul vrae', './static/data/Gr4/gr4nw1_invul_vrae.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Invul vrae</button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('skryfToets.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Habitat', 'Skryf', './static/data/Gr4/gr4nw1_skryf_toets.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Skryf toets</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Add similar blocks for other subjects with the same structure -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/grade4subjects/gr4nw1_strukture.jpg" class="card-img-top" alt="Natuurwetenskap">
                    <div class="card-body">
                        <h5 class="card-title">Strukture vir diere skuilings</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('flashcard.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Strukture', 'Flitskaarte', './static/data/Gr4/gr4nw1_flitskaarte.json')">
                                    Flitskaarte
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    class="btn btn-link btn-link-custom p-0" 
                                    onclick="redirectToPage('multiple.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Strukture',  'Meerkeusevrae', './static/data/Gr4/gr4nw1_meerkeuse_vrae.json')">
                                    Keuse Vrae
                                </button>
                            </li>
                            <li class="list-group-item">
                                <li class="list-group-item">
                                    <button 
                                        type="button" 
                                        onclick="redirectToPage('invulVrae.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Strukture', 'Invul vrae', './static/data/Gr4/gr4nw1_invul_vrae.json')" 
                                        class="btn btn-link btn-link-custom p-0">
                                        Invul vrae</button>
                                </li>
                            </li>
                            <li class="list-group-item">
                                <button 
                                    type="button" 
                                    onclick="redirectToPage('skryfToets.html', 'Graad 4', 'Natuurwetenskap', 'Kwartaal 1', 'Strukture', 'Skryf', './static/data/Gr4/gr4nw1_skryf_toets.json')" 
                                    class="btn btn-link btn-link-custom p-0">
                                    Skryf toets</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
  

    <script>
         function redirectToPage(page, grade, subject, quarter, chapter, category, dataPath = '') {
            const queryParams = new URLSearchParams({
                grade: grade,
                subject: subject,
                quarter: quarter,
                chapter: chapter,
                category: category,
                dataPath: dataPath
            });

            // Remove .html from the page name for Flask routing
            const fullUrl = `/${page.replace('.html', '')}?${queryParams.toString()}`;
            console.log("Redirecting to:", fullUrl);  // Debugging output

            window.location.href = fullUrl;
        }


    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
