{% extends "base.html" %}


{% block title %}User List{% endblock %}

{% block content %}
<h1>Graad 6 Sosiale Wetenskap</h1>    
<h2>Lengte en Breedtelyne</h2>

<h3>Vraag 1 - (7 punte)</h3>
<p><b>Kies telkens die korrekte antwoorde in elke vraag deur dit te onderstreep.</b></p>
<ol>
    <li>Breedtelyne loop van <b>Noord / Oos</b> na <b>Suid / Wes</b> om die aarde.</li>
    <li>Die <b>Ewenaar / Greenwich Meridiaan</b> verdeel die aarde in 'n Noordelike en Suidelike halfrond.</li>
    <li>Lentelyne word gebruik om <b>seisoene / tyd</b> te bepaal.</li>
    <li>Ons gebruik breedtelyne en lengtelyne saam om 'n plek se ligging te bepaal en ons noem die <b>skaal / koordinate</b>.</li>
    <li>'n Grootskaalkaart is van <b>klein / groot</b> gebied waar ek <b>min / baie</b> inligting wys.</li>
</ol>

<hr>

<h3>Vraag 2</h3>
<p><b>Gebruik die volgende woorde en voltooi die onderstaande sinne:</b></p>

<div style="display: block; padding: 15px; border: 1px solid #000; background-color: #f8f9fa; 
            border-radius: 8px; width: 60%; margin: 10px auto; text-align: center;">
    <p>Noordpool, Ewenaar, Suidpoolsirkel, Kleinskaalkaart, Lenteligging,</p>
    <p>Noordpoolsirkel, Grootskaalkaart, Breedteligging, Woordskaal, Lynskaal,</p> 
    <p>Suidpool, Greenwich Meridiaan</p>
</div>

<ol>
    <li>'n Skaal waar ek woorde gebruik om dit aan te dui staan bekend as 'n _______________.</li>
    <li>Die 0' lengtelyn word die _______________ genoem.</li>
    <li>'n Lyn met 'n koordinaat van 24'S sal 'n plek se _______________ aandui.</li>
    <li>Die Noordpoolsirkel het 'n ligging van _______________.</li>
    <li>Lengtelyne loop van die _______________ na die _______________.</li>
</ol>

<hr>

<h3>Vraag 3</h3>
<p><b>Beantwoord die volgende vrae so volledig as moontlik:</b></p>

<ol>
    <li>Beskryf wat die volgende is en gee ook 'n voorbeeld van elkeen:</li>
    <ol type="a">
        <li><b>Kleinskaalkaart:</b></li>
            <p>_____________________________________________________________________________________________________________</p>
            <p>_____________________________________________________________________________________________________________</p>
        <li><b>Lynskaal:</b></li>
            <p>_____________________________________________________________________________________________________________</p>
            <p>_____________________________________________________________________________________________________________</p>
        <li><b>Op 'n kaart word die skaal aangedui as 1cm = 500km.</b> <br>
            As die afstand op die kaart 9cm is, wat is die werklike afstand tussen die 2 plekke? Wys jou bewerkings.
        </li>    
            <p>_____________________________________________________________________________________________________________</p>
            <p>_____________________________________________________________________________________________________________</p>
    </ol>
</ol>

<h3>Vraag 4</h3>
<p>Bestudeer die kaart en gee die koordinate van punt die vier punte.</p>
<img src="../static/images/grade6subjects/gr6sw1_map.jpg" alt="wereldkaart">
<br>   
<br> 
<ol>
    <li>Punt A: _______________________________________________</li>
    <br>
    <li>Punt B:  _______________________________________________</li>
    <br>
    <li>Punt C:  _______________________________________________</li>
    <br>
    <li>Punt D:  _______________________________________________</li>
    
</ol>


{% endblock %}
