

{% extends "base.html" %}

{% block title %}123ToetsMyself{% endblock %}

{% block content %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Vra, vrae en nog vrae! 🎓</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Jou maklike en vinnige manier om te toets of jou leerder hul werk ken!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="{{ url_for('homegr4') }}" class="btn btn-primary btn-lg px-4 me-sm-3">Graad 4</a>
      <a href="{{ url_for('homegr6') }}" class="btn btn-outline-secondary btn-lg px-4">Graad 6</a>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="../static/images/homepage/books-2158773_1280.jpg" class="mg-fluid border rounded-3 shadow-lg mb-4" alt="laptop,tablet en selfoon" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>
 
{% endblock %}
