<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .een-text {
        font-weight: bold;  /* Makes the text bold */
        color: orange;     /* Changes the text color to orange */
      }
      .twee-text {
        color: yellow; /* Changes the text color to yellow */
        font-weight: bold;
      }
      .drie-text {
        color: purple; /* Changes the text color to yellow */
        font-weight: bold;
      }
      .vier-text {
        color: blue; /* Changes the text color to yellow */
        font-weight: bold;
      }
      .vyf-text {
        color: green; /* Changes the text color to yellow */
        font-weight: bold;
      }
      .ses-text {
        color: brown; /* Changes the text color to yellow */
        font-weight: bold;
      }
      .sewe-text {
        color: red; /* Changes the text color to yellow */
        font-weight: bold;
      }

    </style>
  </head>
<body>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="../static/images/leermetodes/eye.jpeg" class="mg-fluid border rounded-3 shadow-lg mb-4" alt="laptop,tablet en selfoon" width="400" height="400" loading="lazy">
      </div>
    </div>
    <h1 class="display-4 fw-bold text-body-emphasis">Visuele Nommers</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Om jou geheue te help wanneer jy leer, kan jy 'n prettige metode probeer wat ons "Visuele Nommers" noem. Hier's hoe dit werk: <br> Skryf die nommers van 1 tot 10 op 'n stuk papier. Nou, verander elke nommer in 'n klein prentjie. Dink aan iets wat lyk soos die nommer. Byvoorbeeld, die nommer 1 kan lyk soos 'n towerstaf, en die nommer 2 kan lyk soos 'n swaan. Kies die eerste ding wat in jou kop kom wat by die nommer pas. 

        Nadat jy al die nommers in prentjies verander het, probeer om hulle te onthou. Hierdie prentjies sal jou help om dinge beter te onthou, en jy kan dit gebruik vir al jou skoolvakke wanneer jy moet onthou wat jy geleer het. Hoe meer jy oefen, hoe makliker sal dit wees om alles te onthou!</p>
      
    </div>
    
  </div>

  <hr class="featurette-divider">
  <h2>Gebruik die sewe lewensprosesse in Natuurwetenskappe as 'n leermetode deur elkeen te assosieer met 'n nommer.</h2>
  

          
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
      
        <div class="container marketing">
      
          
      
          <!-- START THE FEATURETTES -->
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Nommer 1: <span class="een-text">Die Wortel</span></h2>
              <p class="lead">Voeding - Dink aan die nommer 1 as 'n lang, skraal wortel. Dit pas perfek by die idee van voeding, want voeding is presies wat gebeur wanneer lewende wesens kos eet om energie en voedingstowwe te kry. Net soos ons wortels eet om gesond en vol energie te bly. <br><br>Maak jou prentjie eenvoudig en duidelik: teken 'n helder oranje wortel wat staan soos die nommer 1. Elke keer as jy aan voeding dink, beeld jou die wortel in—'n eenvoudige, kragtige bron van voeding.</p>
            </div>
            <div class="col-md-5">
              <img src="../static/images/leermetodes/1.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Nommer 2: <span class="twee-text">Die Swaan</span></h2>
              <p class="lead">Reproduksie - Stel jou voor die nommer 2 as twee elegante swane wat saggies op 'n meer dryf. Hierdie beeld is perfek vir die konsep van reproduksie, waar diere soos swane eiers lê wat uiteindelik uitbroei in kuikens. <br><br> Laat jou prentjie 'n storie vertel: Dink aan 'n swaan wat haar nes bou en sorgvuldig haar eiers lê. As die lente aanbreek, kraak die eiers oop en klein swaantjies pik hulle weg uit na 'n nuwe lewe. Deur 'n storie by jou prentjie te voeg, maak dit die proses van reproduksie nie net makliker om te onthou nie, maar ook lewendig en boeiend!</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="../static/images/leermetodes/2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Nommer 3: <span class="drie-text"> Boudjies
                
              </span></h2>
              <p class="lead">Uitskeiding - Kyk bietjie na die nommer 3. As jy hom op sy kant draai, lyk hy nes twee boudjies! Dit pas perfek by ons gesprek oor uitskeiding—die manier hoe ons liggame van allerhande afval ontslae raak, soos deur sweet, urine en selfs asemhaling. <br><br> Humor is 'n wonderlike hulpmiddel wanneer ons leer, want dit maak die inligting meer genietbaar en onvergeetlik. Elke keer as jy nou die nommer 3 sien, kan jy nie help om te glimlag en te dink aan die slim manier waarop ons liggame skoon en gesond bly nie!</p>
            </div>
            <div class="col-md-5">
              <img src="../static/images/leermetodes/3.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">
            </div>
          </div>
      
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Nommer 4: <span class="vier-text">Boot</span></h2>
              <p class="lead">Beweging - Beeld jou in dat die nommer 4 'n seilboot is wat vrolik oor die golwe dans en nooit stilbly nie. Beweging is 'n kritiese deel van die lewe vir alle wesens, van die kleinste plantjie wat sy blare na die son draai, tot die vinnigste dier wat deur die veld hardloop. <br><br>Onthou ook om kleur in jou prentjies te gebruik; dit maak leer soveel meer pret en help ons om dinge beter te onthou! Deur helder en lewendige kleure te gebruik, kan jy die idee van 'n kleurvolle boot op die oop see nog meer opwindend en makliker om te onthou maak.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="../static/images/leermetodes/4.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">
            </div>
          </div>

                
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Nommer 5: <span class="vyf-text"> Slang
                
              </span></h2>
              <p class="lead">Sintuie - Dink aan die nommer 5 as 'n slang wat krul en kronkel. Die vorm van die nommer herinner ons aan 'n 'S', wat perfek pas by die woord "Sintuie." Mense en diere gebruik vyf belangrike sintuie om die wêreld rondom hulle te verken en te verstaan: sig, gehoor, reuk, smaak, en aanraking.  <br><br>Deur nommers met letters te kombineer, soos die nommer 5 met die letter 'S', maak dit makliker om te onthou dat daar vyf sintuie is. Elke keer as jy 'n slangvormige 5 sien, kan jy dink aan die vyf ongelooflike maniere waarop ons die wêreld ervaar!</p>
            </div>
            <div class="col-md-5">
              <img src="../static/images/leermetodes/5.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">
            </div>
          </div>
      
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Nommer 6: <span class="ses-text">Boontjie</span></h2>
              <p class="lead">Groei - Stel jou voor die nommer 6 is 'n klein boontjie wat net begin uitpik uit die aarde. Groei is die wonderlike proses waardeur alle lewende dinge—plante, diere, en selfs mense—groter en sterker word. <br><br>Probeer jou prentjie visualiseer, kyk hoe dit voor jou oë ontwikkel en groei. Soos die boontjie wat stadig maar seker uit die grond opkom, kan jy jou voorstel hoe elke nuwe dag 'n bietjie meer groei bring. Hierdie manier van dink kan jou help om die idee van groei werklik te verstaan en te onthou.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="../static/images/leermetodes/6.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">
            </div>
          </div>

                
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Nommer 7: <span class="sewe-text"> Skild
                
              </span></h2>
              <p class="lead">Asemhaling - Dink aan die nommer 7 as 'n ridder se skild wat dapper die soldaat se longe beskerm. Asemhaling is die proses waar ons die lewegewende lug inasem en die onnodige koolstofdioksied uitasem. Dit is noodsaaklik om te oorleef, net soos 'n ridder wat sy skild gebruik om in die geveg te oorleef. <br><br>Dit kan soms moeilik wees om 'n prentjie by 'n begrip te pas. In sulke gevalle is 'n bietjie kreatiewe verbeelding noodsaaklik. Gebruik jou verbeelding om lewendige en interessante assosiasies te maak wat die begrippe in jou geheue vasvang. Hierdie tegniek maak leer nie net makliker nie, maar ook baie meer pret!</p>
            </div>
            <div class="col-md-5">
              <img src="../static/images/leermetodes/7.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Placeholder: 500x500">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <!-- /END THE FEATURETTES -->
      
        </div><!-- /.container -->
      
      
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-end"><a href="#">Terug by begin</a></p>
          <p>© 2025 123ToetsMyself · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>