{% extends "base.html" %}

{% block title %}Registreer{% endblock %}

{% block content %}
<body class="d-flex flex-column min-vh-100 bg-body-tertiary">
    <div class="container my-5">
        
        <!-- Registration Form -->
        <form class="w-50 mx-auto" method="POST" action="#">
            {{ form.hidden_tag() }}  <!-- Proper CSRF token handling -->
            
            <h1 class="h3 mb-3 fw-normal">Registreer</h1>
        
            <div class="form-floating mb-3">
                {{ form.name(class="form-control", id="floatingName", placeholder="Jou naam", required=True) }}
                <label for="floatingName">Naam</label>
            </div>
        
            <div class="form-floating mb-3">
                {{ form.email(class="form-control", id="floatingEmail", placeholder="naam@voorbeeld.com", required=True) }}
                <label for="floatingEmail">Epos</label>
            </div>
        
            <button class="btn btn-primary w-100 py-2" type="submit">{{ form.submit.label }}</button>
        </form>
        
    </div>   
</body>
{% endblock %}
